

/*  FONT ADD-------------------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: lato;
    src: url(Lato-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(Lato-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: lato;
    src: url(Lato-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: lato-#F2EBE3;
    src: url(Lato-#F2EBE3.ttf);
}

@font-face {
    font-family: lato-light;
    src: url(Lato-Light.ttf);
}

@font-face {
    font-family: megrim;
    src: url(Megrim.ttf);
}

/*  END FONT ADD-------------------------------------------------------------------------------------------------------------- */

/* COLUMNS */
.grid__wrapper {
    display: block;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
 }

.grid__wrapper {
    display: block;
    margin: 0;
    padding: 0;
}

.grid__container {
    display: block;
    width: 1140px;
    margin: 0 auto;
    padding: 0 12px;
}

.grid__row {
    display: block;
    margin: 0 -12px;
    padding: 0;
    overflow: auto;
}

.grid__wrapper:after,
.grid__container:after,
.grid__row:after {
    content: "";
    display: table;
    clear: both;
}

.grid__column {
    position: relative;
    float: left;
    padding: 0 12px;
}

.grid__column-12,
.grid__column-11,
.grid__column-10,
.grid__column-9,
.grid__column-8,
.grid__column-7,
.grid__column-6,
.grid__column-5,
.grid__column-4,
.grid__column-3,
.grid__column-2,
.grid__column-1 {
    position: relative;
    float: left;
    padding: 0 12px;
}

.grid__column-12 { width: 100%; }
.grid__column-11 { width: 91.666666666667%; }
.grid__column-10 { width: 83.333333333333%; }
.grid__column-9 {  width: 75%; }
.grid__column-8 {  width: 66.666666666667%; }
.grid__column-7 {  width: 58.333333333333%; }
.grid__column-6 {  width: 50%; }
.grid__column-5 {  width: 41.666666666667%; }
.grid__column-4 {  width: 33.333333333333%; }
.grid__column-3 {  width: 25%; }
.grid__column-2 {  width: 16.666666666667%; }
.grid__column-1 {  width: 8.333333333333%; }

.grid__offset-12 { margin-left: 100%; }
.grid__offset-11 { margin-left: 91.666666666667%; }
.grid__offset-10 { margin-left: 83.333333333333%; }
.grid__offset-9 {  margin-left: 75%; }
.grid__offset-8 {  margin-left: 66.666666666667%; }
.grid__offset-7 {  margin-left: 58.333333333333%; }
.grid__offset-6 {  margin-left: 50%; }
.grid__offset-5 {  margin-left: 41.666666666667%; }
.grid__offset-4 {  margin-left: 33.333333333333%; }
.grid__offset-3 {  margin-left: 25%; }
.grid__offset-2 {  margin-left: 16.666666666667%; }
.grid__offset-1 {  margin-left: 8.333333333333%; }


/*IMAGES FOR SERVICES*/
.services_examples {
    width: 100%;
}


/*  NAV START----------------------------------------------------------------------------------------------------------------- */
.navigationbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-family: Georgia;
    background-color: #444446;
    color: #F2EBE3;
}

@media (min-width: 900px) {
  .navigationbar {
    justify-content: space-around;
    padding-bottom: 10px;
  }

    #logo{
     inline-size: 200px;
     flex-flow: column wrap;
  }
}

@media (max-width: 900px) {
  .navigationbar {
    justify-content: space-around;
    padding-bottom: 5px;
  }

    #logo{
     inline-size: 150px;
     margin: 0;
  }
}

@media (max-width: 760px) {
  .navigationbar {
    padding-bottom: 5px;
  }

  #logo{
     inline-size: 100px;
     margin: 0;
  }

  .navigationbar a {
    text-align: center;
    padding-bottom: 10px;
  }
}

/*  END NAV ------------------------------------------------------------------------------------------------------------------ */

/*  START TYPOGRAPHY---------------------------------------------------------------------------------------------------------- */
.headerindex {
    width: 100%;
    position: static;
}

  html {
    overflow-x: auto;
    background-color: #444446;
    background-attachment: fixed;
    background-size: cover;
  }

h1 {
    font-family: megrim;
    font-size: 36px;
    color: #F2EBE3;
    text-align: center;
}

h2 {
    font-family: lato;
    font-size: 16px;
    color: #F2EBE3
}

h3 {
    font-family: lato;
    font-size: 14pt;
    color: #F2EBE3
    ;
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    font-size: 10pt;
    color: #F2EBE3;
    text-align: center;
}

.dropdownbutton {
    background-color: #444446;
    color: #F2EBE3;
    padding-left: 0px;
    padding-top: 10 px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20pt;
    z-index:1;


}
.dropdownbutton:hover {
    background-color: #444446;
    color: #F2EBE3;
    z-index:1;
}

.dropdown {
    position: static;
    display: inline-block;
    z-index:1;
}


 .dropdowncontent {
     display: none;
     position: absolute;
     background-color: #444446;
     min-width: 100px;
     box-shadow: 0px 4px 8px -2px #222222;
     font-family: lato;
     z-index:1;

 }

 .dropdowncontent a {
     color: #F2EBE3;
     padding: 10px;
     text-decoration:none;
     display: block;
     font-family: lato;
     text-align: center;
     z-index:1;
     
 }

.dropdowncontent a:hover {
    background-color: #C8AED3;    
    z-index:1;

}

.dropdown:hover .dropdowncontent {
    display: block;
    z-index:1;
}

.navigationbar {
    background-color: #444446;
    position: fixed;
    top: 0px;
    color: #F2EBE3;
    width: cover;
    text-align: center;
    position: static;
    z-index:1;
}

#dropdownnavbox {
    z-index:1;
}

#logo {

    position: static;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
}

a {
    background-color: transparent;
    color: #F2EBE3;
    border: none;
    cursor: pointer;
    margin-left: 0px;
    font-size: em;
    font-family: lato;
    text-decoration: none;
}

a:visited {
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
    color: #C8AED3;
}

.content {
    position:relative;
    width: 100%;
    overflow: auto;
    overflow-x: auto;
    background-color: #F2EBE3;
    padding: 20px; 
    padding-top: 5px;
    text-align: center;
}

nav {
    z-index:1;
}

footer {
    position: fixed;
    bottom: 1px;
    right: 5px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 1px;
    color: #F2EBE3;
    font-size: 9px;
}


/* More nav & mobile stuff-------------------------------------------------------------------------------------*/
@media (max-width: 760px)
{

h1 {
    font-family: megrim;
    font-size: 20px;
    color: #F2EBE3;
    text-align: center;
}

h2 {
    font-family: lato;
    font-size: 16px;
    color: #F2EBE3
}

h3 {
    font-family: lato;
    font-size: 14pt;
    color: #F2EBE3
    ;
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    font-size: 10pt;
    color: #F2EBE3;
    text-align: center;
}
.dropdown {
    position: static;
    display: in-line inline-block;
    z-index:1;
}


 .dropdowncontent {
     display: none;
     position: absolute;
     background-color: #444446;
     min-width: 100px;
     box-shadow: 0px 4px 8px -2px #222222;
     font-family: lato;
     z-index:1;

 }

 .dropdowncontent a {
     color: #F2EBE3;
     padding: 10px;
     text-decoration:none;
     display: none;
     font-family: lato;
     text-align: center;
     z-index:1;
     
 }

.dropdowncontent a:hover {
    background-color: #C8AED3;    
    z-index:1;
    display:none;

}

.dropdown:hover .dropdowncontent {
    display: none;
    z-index:1;
}
}
.services {
    text-align: left;
}

