
@font-face {
    font-family: lato;
    src: url(Lato-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(Lato-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: lato;
    src: url(Lato-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: lato-black;
    src: url(Lato-Black.ttf);
}

@font-face {
    font-family: lato-light;
    src: url(Lato-Light.ttf);
}

@font-face {
    font-family: megrim;
    src: url(Megrim.ttf);
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.53%;
}
.span_10_of_12 {
  	width: 83.06%;
}

.span_9_of_12 {
  	width: 74.6%;
}

.span_8_of_12 {
  	width: 66.13%;
}

.span_7_of_12 {
  	width: 57.66%;
}

.span_6_of_12 {
  	width: 49.2%;
}

.span_5_of_12 {
  	width: 40.73%;
}

.span_4_of_12 {
  	width: 32.26%;
}

.span_3_of_12 {
  	width: 23.8%;
}

.span_2_of_12 {
  	width: 15.33%;
}

.span_1_of_12 {
  	width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}

.navigationbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-family: Georgia;
    background-color: #36347E;
    color: #FFD9DC;
}

@media (min-width: 900px) {
  .navigationbar {
    justify-content: space-around;
    padding: 0;
  }

    #logo{
     inline-size: 150px;
     flex-flow: column wrap;
  }
}

@media (max-width: 900px) {
  .navigationbar {
    justify-content: space-around;
    padding: 0;
  }

    #logo{
     inline-size: 100px;
     flex-flow: column wrap;
     margin: 0 auto;
  }
}

@media (max-width: 760px) {
  .navigationbar {
    flex-flow: column wrap;
    padding: 10;
  }

  #logo{
     inline-size: 100px;
     flex-flow: column wrap;
     margin: 0 auto;
  }

  .navigationbar a {
    text-align: center;
    padding: 10px;
  }
}

#headerindex {
    width: 100%;
}

/*
----------------------------------------------------------------------------------------------------------------------


DESKTOP


*/
/*@media (min-width: 600px) {*/
  html {     
    background-color: #36347E;
    background-attachment: fixed;
    background-size: cover;
  }

h1 {
    font-family: megrim;
    font-size: 22px;
    color: black;
}

h2 {
    font-family: lato;
    font-size: 16pt;
    color: #000000
}

h3 {
    font-family: lato;
    font-size: 14pt;
    color: black
    ;
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    font-size: 12pt;
}

.dropdownbutton {
    background-color: #36347E;
    color: #FFD9DC;
    padding-left: 0px;
    padding-top: 10 px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20pt;
    z-index:1;


}
.dropdownbutton:hover {
    background-color: #36347E;
    color: #FFD9DC;
    z-index:1;
}

.dropdown {
    position: static;
    display: inline-block;
    z-index:1;
}


 .dropdowncontent {
     display: none;
     position: absolute;
     background-color: #36347E;
     min-width: 100px;
     box-shadow: 0px 4px 8px -2px #222222;
     font-family: lato;
     z-index:1;

 }

 .dropdowncontent a {
     color: #FFD9DC;
     padding: 10px;
     text-decoration:none;
     display: block;
     font-family: lato;
     text-align: center;
     z-index:1;
     
 }

.dropdowncontent a:hover {
    background-color: #5362BE;    
    z-index:1;

}

.dropdown:hover .dropdowncontent {
    display: block;
    z-index:1;
}

.navigationbar {
    background-color: #36347E;
    position: fixed;
    top: 0px;
    color: #FFD9DC;
    width: cover;
    text-align: center;
    position: static;
    z-index:1;
}

#dropdownnavbox {
    z-index:1;
}

#logo {

    position: static;
    float: left;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
}

a {
    background-color: transparent;
    color: #FFD9DC;
    border: none;
    cursor: pointer;
    margin-left: 0px;
    font-size: 12pt;
    font-family: lato;
    text-decoration: none;
}

a:visited {
    text-decoration:none;
}

.content {
    position:fixed;
    left: 20%;
    top: 20%;
    width: 55%;
    height: 70%;
    overflow: auto;
    background-color: white;
    border-radius: 25px;
    padding: 20px; 
    padding-top: 5px;
    z-index: 0;
    opacity: 0.95;
}

nav {
    z-index:1;
}

@media (max-width: 750px)
{
.dropdown {
    position: static;
    display: in-line inline-block;
    z-index:1;
}


 .dropdowncontent {
     display: none;
     position: absolute;
     background-color: #36347E;
     min-width: 100px;
     box-shadow: 0px 4px 8px -2px #222222;
     font-family: lato;
     z-index:1;

 }

 .dropdowncontent a {
     color: #FFD9DC;
     padding: 10px;
     text-decoration:none;
     display: none;
     font-family: lato;
     text-align: center;
     z-index:1;
     
 }

.dropdowncontent a:hover {
    background-color: #5362BE;    
    z-index:1;
    display:none;

}

.dropdown:hover .dropdowncontent {
    display: none;
    z-index:1;
}
}